---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/hstove/rbtc_arbitrage
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4954'
      X-Ratelimit-Reset:
      - '1427944634'
      Last-Modified:
      - Mon, 30 Mar 2015 16:09:20 GMT
      Etag:
      - W/"7c42a8176fe1e2a73d1a476304a95933"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":11266575,"name":"rbtc_arbitrage","full_name":"hstove/rbtc_arbitrage","owner":{"login":"hstove","id":1109058,"avatar_url":"https://avatars.githubusercontent.com/u/1109058?v=3","gravatar_id":"","url":"https://api.github.com/users/hstove","html_url":"https://github.com/hstove","followers_url":"https://api.github.com/users/hstove/followers","following_url":"https://api.github.com/users/hstove/following{/other_user}","gists_url":"https://api.github.com/users/hstove/gists{/gist_id}","starred_url":"https://api.github.com/users/hstove/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/hstove/subscriptions","organizations_url":"https://api.github.com/users/hstove/orgs","repos_url":"https://api.github.com/users/hstove/repos","events_url":"https://api.github.com/users/hstove/events{/privacy}","received_events_url":"https://api.github.com/users/hstove/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/hstove/rbtc_arbitrage","description":"A
        gem for automating arbitrage between Bitcoin exchanges.","fork":false,"url":"https://api.github.com/repos/hstove/rbtc_arbitrage","forks_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/forks","keys_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/keys{/key_id}","collaborators_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/teams","hooks_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/hooks","issue_events_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/issues/events{/number}","events_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/events","assignees_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/assignees{/user}","branches_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/branches{/branch}","tags_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/tags","blobs_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/git/refs{/sha}","trees_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/git/trees{/sha}","statuses_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/statuses/{sha}","languages_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/languages","stargazers_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/stargazers","contributors_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/contributors","subscribers_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/subscribers","subscription_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/subscription","commits_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/commits{/sha}","git_commits_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/git/commits{/sha}","comments_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/comments{/number}","issue_comment_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/issues/comments{/number}","contents_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/contents/{+path}","compare_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/compare/{base}...{head}","merges_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/merges","archive_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/downloads","issues_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/issues{/number}","pulls_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/pulls{/number}","milestones_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/milestones{/number}","notifications_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/labels{/name}","releases_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/releases{/id}","created_at":"2013-07-08T22:00:27Z","updated_at":"2015-03-30T16:09:20Z","pushed_at":"2014-09-26T23:44:43Z","git_url":"git://github.com/hstove/rbtc_arbitrage.git","ssh_url":"git@github.com:hstove/rbtc_arbitrage.git","clone_url":"https://github.com/hstove/rbtc_arbitrage.git","svn_url":"https://github.com/hstove/rbtc_arbitrage","homepage":"","size":963,"stargazers_count":167,"watchers_count":167,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":66,"mirror_url":null,"open_issues_count":6,"forks":66,"open_issues":6,"watchers":167,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":66,"subscribers_count":43}'
  recorded_at: Thu, 02 Apr 2015 02:33:33 GMT
- request:
    method: get
    uri: https://api.github.com/repos/hstove/rbtc_arbitrage/issues?per_page=100&state=closed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4953'
      X-Ratelimit-Reset:
      - '1427944634'
      Etag:
      - W/"c54693aecf2ff23f1e62719544130e0f"
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/hstove/rbtc_arbitrage/issues/19","labels_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/issues/19/labels{/name}","comments_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/issues/19/comments","events_url":"https://api.github.com/repos/hstove/rbtc_arbitrage/issues/19/events","html_url":"https://github.com/hstove/rbtc_arbitrage/issues/19","id":40861123,"number":19,"title":"Unusual
        behavior","user":{"login":"blacehoule","id":3197278,"avatar_url":"https://avatars.githubusercontent.com/u/3197278?v=3","gravatar_id":"","url":"https://api.github.com/users/blacehoule","html_url":"https://github.com/blacehoule","followers_url":"https://api.github.com/users/blacehoule/followers","following_url":"https://api.github.com/users/blacehoule/following{/other_user}","gists_url":"https://api.github.com/users/blacehoule/gists{/gist_id}","starred_url":"https://api.github.com/users/blacehoule/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/blacehoule/subscriptions","organizations_url":"https://api.github.com/users/blacehoule/orgs","repos_url":"https://api.github.com/users/blacehoule/repos","events_url":"https://api.github.com/users/blacehoule/events{/privacy}","received_events_url":"https://api.github.com/users/blacehoule/received_events","type":"User","site_admin":false},"labels":[],"state":"closed","locked":false,"assignee":null,"milestone":null,"comments":1,"created_at":"2014-08-21T23:24:02Z","updated_at":"2014-08-22T21:14:20Z","closed_at":"2014-08-22T21:14:20Z","body":"After
        typing the command ''rbtc'':\r\nWARN: Unresolved specs during Gem::Specification.reset:\r\n      activemodel
        (>= 3.1)\r\n      activesupport (>= 3.1)\r\n      thor (>= 0)\r\n      multi_json
        (>= 1.3.4, ~> 1.3)\r\n      hashie (>= 1.2.0)\r\n      mime-types (< 3, >=
        1.16)\r\n      tzinfo (>= 0)\r\nWARN: Clearing out unresolved specs.\r\nPlease
        report a bug if this causes problems.\r\nfatal: Not a git repository (or any
 [...]
