.dropdown
  %a#language-select.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
    Select Language
    %span.caret
  %ul.dropdown-menu{"aria-labelledby" => "language-select", role: "menu"}
    %li
      %a{href: root_path} All Languages
    %li.divider
    - Report.languages.each do |language|
      %li
        %a{href: root_path(language: language)}= language
    %li.divider
      %li
        %a{href: root_path(language: Report::NO_LANGUAGE_KEY)} No Language