---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rubymotion/bubblewrap
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token <GITHUB_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4837'
      X-Ratelimit-Reset:
      - '1406492392'
      Last-Modified:
      - Wed, 23 Jul 2014 15:17:16 GMT
      Etag:
      - '"544a4d68e8cb2a2a103367a059c2fd89"'
      X-Oauth-Scopes:
      - gist, repo, user
      X-Accepted-Oauth-Scopes:
      - repo
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"id":4216917,"name":"BubbleWrap","full_name":"rubymotion/BubbleWrap","owner":{"login":"rubymotion","id":1742935,"avatar_url":"https://avatars.githubusercontent.com/u/1742935?","gravatar_id":"582924027a945491dbf9146580c728ad","url":"https://api.github.com/users/rubymotion","html_url":"https://github.com/rubymotion","followers_url":"https://api.github.com/users/rubymotion/followers","following_url":"https://api.github.com/users/rubymotion/following{/other_user}","gists_url":"https://api.github.com/users/rubymotion/gists{/gist_id}","starred_url":"https://api.github.com/users/rubymotion/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rubymotion/subscriptions","organizations_url":"https://api.github.com/users/rubymotion/orgs","repos_url":"https://api.github.com/users/rubymotion/repos","events_url":"https://api.github.com/users/rubymotion/events{/privacy}","received_events_url":"https://api.github.com/users/rubymotion/received_events","type":"Organization","site_admin":false},"private":false,"html_url":"https://github.com/rubymotion/BubbleWrap","description":"Cocoa
        wrappers and helpers for RubyMotion (Ruby for iOS and OS X) - Making Cocoa
        APIs more Ruby like, one API at a time. Fork away and send your pull requests","fork":false,"url":"https://api.github.com/repos/rubymotion/BubbleWrap","forks_url":"https://api.github.com/repos/rubymotion/BubbleWrap/forks","keys_url":"https://api.github.com/repos/rubymotion/BubbleWrap/keys{/key_id}","collaborators_url":"https://api.github.com/repos/rubymotion/BubbleWrap/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/rubymotion/BubbleWrap/teams","hooks_url":"https://api.github.com/repos/rubymotion/BubbleWrap/hooks","issue_events_url":"https://api.github.com/repos/rubymotion/BubbleWrap/issues/events{/number}","events_url":"https://api.github.com/repos/rubymotion/BubbleWrap/events","assignees_url":"https://api.github.com/repos/rubymotion/BubbleWrap/assignees{/user}","branches_url":"https://api.github.com/repos/rubymotion/BubbleWrap/branches{/branch}","tags_url":"https://api.github.com/repos/rubymotion/BubbleWrap/tags","blobs_url":"https://api.github.com/repos/rubymotion/BubbleWrap/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/rubymotion/BubbleWrap/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/rubymotion/BubbleWrap/git/refs{/sha}","trees_url":"https://api.github.com/repos/rubymotion/BubbleWrap/git/trees{/sha}","statuses_url":"https://api.github.com/repos/rubymotion/BubbleWrap/statuses/{sha}","languages_url":"https://api.github.com/repos/rubymotion/BubbleWrap/languages","stargazers_url":"https://api.github.com/repos/rubymotion/BubbleWrap/stargazers","contributors_url":"https://api.github.com/repos/rubymotion/BubbleWrap/contributors","subscribers_url":"https://api.github.com/repos/rubymotion/BubbleWrap/subscribers","subscription_url":"https://api.github.com/repos/rubymotion/BubbleWrap/subscription","commits_url":"https://api.github.com/repos/rubymotion/BubbleWrap/commits{/sha}","git_commits_url":"https://api.github.com/repos/rubymotion/BubbleWrap/git/commits{/sha}","comments_url":"https://api.github.com/repos/rubymotion/BubbleWrap/comments{/number}","issue_comment_url":"https://api.github.com/repos/rubymotion/BubbleWrap/issues/comments/{number}","contents_url":"https://api.github.com/repos/rubymotion/BubbleWrap/contents/{+path}","compare_url":"https://api.github.com/repos/rubymotion/BubbleWrap/compare/{base}...{head}","merges_url":"https://api.github.com/repos/rubymotion/BubbleWrap/merges","archive_url":"https://api.github.com/repos/rubymotion/BubbleWrap/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/rubymotion/BubbleWrap/downloads","issues_url":"https://api.github.com/repos/rubymotion/BubbleWrap/issues{/number}","pulls_url":"https://api.github.com/repos/rubymotion/BubbleWrap/pulls{/number}","milestones_url":"https://api.github.com/repos/rubymotion/BubbleWrap/milestones{/number}","notifications_url":"https://api.github.com/repos/rubymotion/BubbleWrap/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/rubymotion/BubbleWrap/labels{/name}","releases_url":"https://api.github.com/repos/rubymotion/BubbleWrap/releases{/id}","created_at":"2012-05-03T17:55:51Z","updated_at":"2014-07-23T15:17:16Z","pushed_at":"2014-07-24T00:27:37Z","git_url":"git://github.com/rubymotion/BubbleWrap.git","ssh_url":"git@github.com:rubymotion/BubbleWrap.git","clone_url":"https://github.com/rubymotion/BubbleWrap.git","svn_url":"https://github.com/rubymotion/BubbleWrap","homepage":"http://rubymotion.github.io/BubbleWrap/","size":4200,"stargazers_count":1145,"watchers_count":1145,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":207,"mirror_url":null,"open_issues_count":17,"forks":207,"open_issues":17,"watchers":1145,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true},"organization":{"login":"rubymotion","id":1742935,"avatar_url":"https://avatars.githubusercontent.com/u/1742935?","gravatar_id":"582924027a945491dbf9146580c728ad","url":"https://api.github.com/users/rubymotion","html_url":"https://github.com/rubymotion","followers_url":"https://api.github.com/users/rubymotion/followers","following_url":"https://api.github.com/users/rubymotion/following{/other_user}","gists_url":"https://api.github.com/users/rubymotion/gists{/gist_id}","starred_url":"https://api.github.com/users/rubymotion/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rubymotion/subscriptions","organizations_url":"https://api.github.com/users/rubymotion/orgs","repos_url":"https://api.github.com/users/rubymotion/repos","events_url":"https://api.github.com/users/rubymotion/events{/privacy}","received_events_url":"https://api.github.com/users/rubymotion/received_events","type":"Organization","site_admin":false},"network_count":207,"subscribers_count":68}'
  recorded_at: Sun, 27 Jul 2014 19:43:58 GMT
recorded_with: VCR 2.8.0
