@import "bootstrap/variables";

$navbar-border-radius: 0;

// $text: #ddd
// $text-color: $text
// $headings-color: $text
// $lightText: lighten($text, 20)
// $darkText: darken($text, 25)
// $jumbotron-color: $darkText
// $jumbotron-heading-color: $darkText
// $gold: #C3C400
// $opaque: rgba(0,0,0,0.45)
//
// $hr-border: rgba(white, 0.04)
// $link-color: #B6DDFF
// $component-active-bg: white
// $well-bg: $opaque


