- if Date.today < Date.new(2014, 11)
  .row
    .col-md-12.text-center.well-highlight.well
      %p Want to learn how to make charts & graphs like the ones you see here?
      The creator of Issue Stats is
      = link_to "crowdfunding a course", "https://www.uludum.org/funds/6"
      about building interactive data visualizations.
