// Simplex 2.2.2
// Variables
// --------------------------------------------------

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}


// Global values
// --------------------------------------------------


// Grays
// -------------------------
$black:                 #000;
$grayDarker:            #2C2C2C;
$grayDark:              #333;
$gray:                  #555;
$grayLight:             #999;
$grayLighter:           #eee;
$white:                 #fff;


// Accent colors
// -------------------------
$blue:                  #029ACF;
$blueDark:              #043755;
$green:                 #3D9400;
$red:                   #D9230F;
$yellow:                #FFCA27;
$orange:                #D9831F;
$pink:                  #ED2590;
$purple:                #9B479F;


// Scaffolding
// -------------------------
$bodyBackground:        #F7F7F7;
$textColor:             $gray;


// Links
// -------------------------
$linkColor:             $red;
$linkColorHover:        $linkColor;


// Typography
// -------------------------
$sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily:       Georgia, "Times New Roman", Times, serif;
$monoFontFamily:        Menlo, Monaco, Consolas, "Courier New", monospace;

$baseFontSize:          14px;
$baseFontFamily:        $sansFontFamily;
$baseLineHeight:        20px;
$altFontFamily:         $serifFontFamily;

$headingsFontFamily:    "Josefin Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; // empty to use BS default, $baseFontFamily
$headingsFontWeight:    bold;    // instead of browser default, bold
$headingsColor:         inherit; // empty to use BS default, $textColor


// Component sizing
// -------------------------
// Based on 14px font-size and 20px line-height

$fontSizeLarge:         $baseFontSize * 1.25; // ~18px
$fontSizeSmall:         $baseFontSize * 0.85; // ~12px
$fontSizeMini:          $baseFontSize * 0.75; // ~11px

$paddingLarge:          11px 19px; // 44px
$paddingSmall:          2px 10px;  // 26px
$paddingMini:           0px 6px;   // 22px

$baseBorderRadius:      0;
$borderRadiusLarge:     6px;
$borderRadiusSmall:     3px;


// Tables
// -------------------------
$tableBackground:                   transparent; // overall background-color
$tableBackgroundAccent:             #f9f9f9; // for striping
$tableBackgroundHover:              #f5f5f5; // for hover
$tableBorder:                       #ddd; // table and cell border

// Buttons
// -------------------------
$btnBackground:                     $white;
$btnBackgroundHighlight:            darken($white, 10%);
$btnBorder:                         darken($white, 20%);

$btnPrimaryBackground:              lighten($linkColor, 5%);
$btnPrimaryBackgroundHighlight:     $linkColor;

$btnInfoBackground:                 lighten(#5bc0de, 5%);
$btnInfoBackgroundHighlight:        #5bc0de;

$btnSuccessBackground:              lighten($green, 5%);
$btnSuccessBackgroundHighlight:     $green;

$btnWarningBackground:              lighten($yellow, 5%);
$btnWarningBackgroundHighlight:     $yellow;

$btnDangerBackground:               lighten($red, 5%);
$btnDangerBackgroundHighlight:      $red;

$btnInverseBackground:              $gray;
$btnInverseBackgroundHighlight:     $grayDarker;


// Forms
// -------------------------
$inputBackground:               $white;
$inputBorder:                   #ccc;
$inputBorderRadius:             $baseBorderRadius;
$inputDisabledBackground:       $grayLighter;
$formActionsBackground:         #f5f5f5;
$inputHeight:                   $baseLineHeight + 10px; // base line-height + 8px vertical padding + 2px top/bottom border


// Dropdowns
// -------------------------
$dropdownBackground:            $white;
$dropdownBorder:                rgba(0,0,0,.2);
$dropdownDividerTop:            #e5e5e5;
$dropdownDividerBottom:         $white;

$dropdownLinkColor:             $textColor;
$dropdownLinkColorHover:        $textColor;
$dropdownLinkColorActive:       $textColor;

$dropdownLinkBackgroundActive:  $linkColor;
$dropdownLinkBackgroundHover:   #FBEBE9;



// COMPONENT VARIABLES
// --------------------------------------------------


// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these :)
$zindexDropdown:          1000;
$zindexPopover:           1010;
$zindexTooltip:           1030;
$zindexFixedNavbar:       1030;
$zindexModalBackdrop:     1040;
$zindexModal:             1050;


// Sprite icons path
// -------------------------
$iconSpritePath:          "../img/glyphicons-halflings.png";
$iconWhiteSpritePath:     "../img/glyphicons-halflings-white.png";


// Input placeholder text color
// -------------------------
$placeholderText:         $grayLight;


// Hr border color
// -------------------------
$hrBorder:                $grayLighter;


// Horizontal forms & lists
// -------------------------
$horizontalComponentOffset:       180px;


// Wells
// -------------------------
$wellBackground:                  $white;


// Navbar
// -------------------------
$navbarCollapseWidth:             979px;
$navbarCollapseDesktopWidth:      $navbarCollapseWidth + 1;

$navbarHeight:                    40px;
$navbarBackground:                #fefefe;
$navbarBackgroundHighlight:       $navbarBackground;
$navbarBorder:                    darken($navbarBackground, 12%);

$navbarText:                      $gray;
$navbarLinkColor:                 $gray;
$navbarLinkColorHover:            $linkColor;
$navbarLinkColorActive:           $linkColor;
$navbarLinkBackgroundHover:       transparent;
$navbarLinkBackgroundActive:      $navbarBackground;

$navbarBrandColor:                $headingsColor;

// Inverted navbar
$navbarInverseBackground:                $red;
$navbarInverseBackgroundHighlight:       lighten($red, 6%);
$navbarInverseBorder:                    lighten($navbarInverseBackground, 8%);

$navbarInverseText:                      $white;
$navbarInverseLinkColor:                 $white;
$navbarInverseLinkColorHover:            $white;
$navbarInverseLinkColorActive:           $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover:       transparent;
$navbarInverseLinkBackgroundActive:      $navbarInverseBackground;

$navbarInverseSearchBackground:          lighten($navbarInverseBackground, 25%);
$navbarInverseSearchBackgroundFocus:     $white;
$navbarInverseSearchBorder:              $navbarInverseBackground;
$navbarInverseSearchPlaceholderColor:    $white;

$navbarInverseBrandColor:                $navbarInverseLinkColor;


// Pagination
// -------------------------
$paginationBackground:                #fff;
$paginationBorder:                    #ddd;
$paginationActiveBackground:          #FBEBE9;


// Hero unit
// -------------------------
$heroUnitBackground:              $grayLighter;
$heroUnitHeadingColor:            inherit;
$heroUnitLeadColor:               inherit;


// Form states and alerts
// -------------------------
$warningText:             $orange;
$warningBackground:       #fcf8e3;
$warningBorder:           darken(adjust-hue($warningBackground, -10), 3%);

$errorText:               $red;
$errorBackground:         #f2dede;
$errorBorder:             darken(adjust-hue($errorBackground, -10), 3%);

$successText:             $green;
$successBackground:       #dff0d8;
$successBorder:           darken(adjust-hue($successBackground, -10), 5%);

$infoText:                $blue;
$infoBackground:          #d9edf7;
$infoBorder:              darken(adjust-hue($infoBackground, -10), 7%);


// Tooltips and popovers
// -------------------------
$tooltipColor:            #fff;
$tooltipBackground:       #000;
$tooltipArrowWidth:       5px;
$tooltipArrowColor:       $tooltipBackground;

$popoverBackground:       #fff;
$popoverArrowWidth:       10px;
$popoverArrowColor:       #fff;
$popoverTitleBackground:  darken($popoverBackground, 3%);

// Special enhancement for popovers
$popoverArrowOuterWidth:  $popoverArrowWidth + 1;
$popoverArrowOuterColor:  rgba(0,0,0,.25);



// GRID
// --------------------------------------------------


// Default 940px grid
// -------------------------
$gridColumns:             12;
$gridColumnWidth:         60px;
$gridGutterWidth:         20px;
$gridRowWidth:            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));

// 1200px min
$gridColumnWidth1200:     70px;
$gridGutterWidth1200:     30px;
$gridRowWidth1200:        ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1));

// 768px-979px
$gridColumnWidth768:      42px;
$gridGutterWidth768:      20px;
$gridRowWidth768:         ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1));


// Fluid grid
// -------------------------
$fluidGridColumnWidth:    percentage($gridColumnWidth/$gridRowWidth);
$fluidGridGutterWidth:    percentage($gridGutterWidth/$gridRowWidth);

// 1200px min
$fluidGridColumnWidth1200:     percentage($gridColumnWidth1200/$gridRowWidth1200);
$fluidGridGutterWidth1200:     percentage($gridGutterWidth1200/$gridRowWidth1200);

// 768px-979px
$fluidGridColumnWidth768:      percentage($gridColumnWidth768/$gridRowWidth768);
$fluidGridGutterWidth768:      percentage($gridGutterWidth768/$gridRowWidth768);

// Simplex 2.2.2
// Bootswatch.less
// -----------------------------------------------------


$boxShadow: 1px 1px 1px rgba(0, 0, 0, 0.2);

// TYPOGRAPHY
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Josefin+Sans:300,400,700");

// SCAFFOLDING
// -----------------------------------------------------

hr {
	border-bottom: none;
}

// NAVBAR
// -----------------------------------------------------

.navbar {

	.navbar-inner {
		@include box-shadow(none);
	}

	.brand {
		padding: 12px 20px 8px;
		font-family: $headingsFontFamily;
		font-weight: bold;

		&:hover {
			color: $linkColor;
		}
	}

	.nav > li > a {
		padding: 13px 15px 6px;
		font-family: $headingsFontFamily;
		font-weight: bold;
		text-shadow: none;

		&:hover {
			text-decoration: none;
		}
	}

	.nav .active > a,
	.nav .active > a:hover {
		background-color: transparent;
	}

	.navbar-text {
		padding: 13px 15px 7px;
		line-height: 19px;
		font-family: $headingsFontFamily;
		color: $grayLight;
	}

	.divider-vertical {
		height: $navbarHeight - 1;
		background-color: $hrBorder;
	}

	.navbar-search {
		margin-top: 5px;

		input[type="text"] {
			margin-bottom: 5px;
		}
	}

	.dropdown-menu a {
		font-family: $headingsFontFamily;
	}
}

.navbar-inverse {

	.navbar-inner {
		@include box-shadow(none);
	}

	.brand:hover {
		color: $white;
	}
}

@media (max-width: $navbarCollapseWidth) {

	.navbar .nav-collapse {

		.nav li > a {
			color: $textColor;

			&:hover {
				background-image: none;
				background-color: $dropdownLinkBackgroundHover;
			}
		}

		.nav .active > a {
			@include box-shadow(none);
		}

		.navbar-form,
		.navbar-search {
			border-top: 1px solid rgba(128, 128, 128, 0.3);
			border-bottom: 1px solid rgba(128, 128, 128, 0.3);
		}
	}

	.navbar-inverse .nav-collapse {

		.nav li > a {
			color: $white;

			&:hover {
				background-color: rgba(255, 255, 255, 0.1) !important;
			}
		}

		.nav-header {
			color: rgba(255, 255, 255, 0.7);
		}
	}
}

div.subnav {

	background-image: none;
	background-color: $navbarBackground;
	border-bottom: 1px solid transparent;
	@include box-shadow($boxShadow);
	font-family: $headingsFontFamily;

	&.subnav-fixed {
		@include box-shadow(inset 0 5px #fff, $boxShadow);
	}

	.nav > li > a {
		padding: 14px 12px 10px;
		border-left-color: transparent;
		border-right-color: transparent;
		color: $navbarText;
		font-weight: bold;

		&:hover {
			background-color: transparent;
			color: $linkColor;
		}
	}

	.nav > li.active > a,
	.nav > li.active > a:hover {
		border-left-color: transparent;
		border-right-color: transparent;
		background-color: transparent;
		@include box-shadow(none);
		color: $linkColor;
	}
}

// NAV
// -----------------------------------------------------

.nav .nav-header {
	font-size: 13px;
	font-weight: normal;
	text-transform: none;
}

.nav-tabs {

	& > li > a {
		background-color: darken($bodyBackground, 3%);
		border: 1px solid #ccc;
		color: $textColor;

		&:hover {
			border: 1px solid #ccc;
			background-color: $dropdownLinkBackgroundHover;
			color: $linkColor;
		}
	}

	& > li.active > a,
	& > li.active > a:hover {
		background-color: $bodyBackground;
	}

	.dropdown {

		.dropdown-toggle .caret {
			border-top-color: $textColor;
			border-bottom-color: $textColor;
			opacity: 1;
		}

		&:hover .dropdown-toggle .caret {
			border-top-color: $linkColor;
			border-bottom-color: $linkColor;
		}
	}

	.dropdown.open .dropdown-toggle {

		background-color: $dropdownLinkBackgroundHover;
		border-color: #ccc;
		color: $linkColor;

		.caret,
		&:hover .caret {
			border-top-color: $linkColor;
			border-bottom-color: $linkColor;
			opacity: 1;
		}
	}

	.dropdown-menu {

		@include border-radius(0);

		a {
			padding: 8px 15px 3px;
		}
	}
}

.tabbable {

	.nav-tabs > li > a,
	.nav-tabs > li > a:hover {
		border: 1px solid #ccc;
	}

	.nav-tabs > li.active > a {
		border-bottom: 1px solid transparent;
	}

	&.tabs-below > .nav-tabs > li.active > a,
	&.tabs-left > .nav-tabs > li.active > a,
	&.tabs-right > .nav-tabs > li.active > a {
		border-bottom: 1px solid #ccc;
	}
}

.nav-pills {

	li > a {
		color: $textColor;

		&:hover {
			background-color: $dropdownLinkBackgroundHover;
			color: $linkColor;
		}
	}

	li.active > a,
	li.active > a:hover {
		background-color: $dropdownLinkBackgroundHover;
		color: $linkColor;
	}

	.dropdown .dropdown-toggle .caret {
		border-top-color: $textColor;
		border-bottom-color: $textColor;
		opacity: 1;
	}

	.dropdown .dropdown-toggle:hover .caret {
		border-top-color: $linkColor;
		border-bottom-color: $linkColor;
	}

	.dropdown.open .dropdown-toggle,
	.dropdown.open:hover .dropdown-toggle {
		background-color: $dropdownLinkBackgroundHover;
		color: $linkColor;

		.caret {
			border-top-color: $linkColor;
			border-bottom-color: $linkColor;
		}
	}
}

.nav-list {

	li > a {
		color: $textColor;

		&:hover {
			background-color: $dropdownLinkBackgroundHover;
			color: $linkColor;
		}
	}

	li.active > a,
	li.active > a:hover {
		background-color: $dropdownLinkBackgroundHover;
		color: $linkColor;
	}
}

.breadcrumb {
	background-color: $white;
	border: 0px solid transparent;
	@include box-shadow($boxShadow, -1px -1px 0 rgba(0, 0, 0, 0.1));

	li {
		padding-top: 2px;
		text-shadow: none;
	}

	.active {
		color: $textColor;
	}

	a {
		text-shadow: none;
	}

	a:hover {
		text-decoration: none;
	}
}

.pagination {

	ul > li > a,
	ul > li > span {
		padding: 2px 14px 0;
		color: $textColor;

		&:hover {
			background-color: $dropdownLinkBackgroundHover;
			color: $linkColor;
		}
	}

	ul > .active > a,
	ul > .active > span {
		background-color: $dropdownLinkBackgroundHover;
		color: $linkColor;
	}

	ul > .disabled > a,
	ul > .disabled > a:hover,
	ul > .disabled > span,
	ul > .disabled > span:hover {
		background-color: transparent;
		color: $textColor;
	}
}


// BUTTONS
// -----------------------------------------------------

.btn {
	padding-top: .6em;
	font-family: $headingsFontFamily;
	font-weight: bold;
}

// TABLES
// -----------------------------------------------------

// FORMS
// -----------------------------------------------------

legend {
	border-bottom: 1px solid #ddd;
	font-family: $headingsFontFamily;
}

.navbar-search .search-query {
	border: 1px solid #ddd;
	@include border-radius(0);
	background-color: $bodyBackground;
	color: $gray;
}

.help-inline, .help-block {
	font-size: 13px;
}

.input-append .btn,
.input-prepend .btn {
	line-height: 16px;
}

// DROPDOWNS
// -----------------------------------------------------

// ALERTS, LABELS, BADGES
// -----------------------------------------------------

.label {
	padding: 4px 4px 3px;
	margin-left: 1px;
	margin-right: 1px;
	line-height: 26px;
	font-weight: normal;
}

// MISCELLANEOUS
// -----------------------------------------------------

i[class^="icon-"]{
	opacity: 0.5;
	vertical-align: -2px;
}

.well {
	@include box-shadow($boxShadow, -1px -1px 0 rgba(0, 0, 0, 0.1));
	border: none;
}

.hero-unit {
	background-color: $navbarBackground;
	@include box-shadow($boxShadow, -1px -1px 0 rgba(0, 0, 0, 0.1));
}

.thumbnail {
	padding: 10px;
	background-color: $white;
}

.progress {
    @include gradient-vertical(#e0e0e0, #e8e8e8);
}

.modal-header {
	border-bottom: none;
}

.modal-header,
.modal-body {
	background-color: $navbarBackground;
}

.modal-footer {
	background-color: $bodyBackground;
}

// MEDIA QUERIES
// -----------------------------------------------------